<%= render partial: 'shared/admin_nav' %>

<div class = "col-sm-9 text-center">

  <h2>Create new product</h2>

  <hr>

  <div class = "row">
    <div class = "col-sm-12">

      <%= render partial: 'product_form' %>

    </div>
  </div>

</div>